services:
  windows:
    image: dockurr/windows
    container_name: windows
    environment:
      VERSION: "10"
      manual: "N"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN

    privileged: true 
    ports:
      - 8006:8006
      - 3389:3389/tcp
      - 3389:3389/udp
    volumes:
      - home/moath/code
    restart: always
    stop_grace_period: 2m