services:
  windows:
    image: dockurr/windows
    container_name: windows
    environment:
      VERSION: "10"
      RAM_SIZE: "16G"      
      CPU_CORES: "8"        
      DISK_SIZE: "80G"
      manual: "N"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN

    privileged: true 
    ports:
      - 8006:8006
      - 3390:3389/tcp
      - 3390:3389/udp
    volumes:
      - ./data:/shared
      - ./auto_build.bat:/oem/install.bat

    restart: always
    stop_grace_period: 2m