name: Build DVLD Project App Desktop

on:
    workflow_dispatch:
      inputs:
        action_type:
          description: 'Choose Action'
          required: true
          type: choice
          options:
            - Start_Environment
jobs:
    Job_build:
        runs-on: self-hosted
        steps:
          - name: Checkout Repo
            uses: actions/checkout@v4
            with:
                fetch-depth: 0

          - name: Run Docker compose
            run: |
              echo "Windows start run"
              docker compose up -d
          
          - name: Uploade file exe
            uses: actions/upload-artifact@v4
            with:
              name: DVLD-Release
              path: ./bin/Release/

          
          


