name: Build DVLD Project App Desktop

on:
    workflow_dispatch:
      inputs:
        action_type:
          description: 'Choose Action'
          required: true
          type: choice
          options:
            - Start_Environment
jobs:
    Job_build:
        runs-on: self-hosted
        steps:
          - name: Checkout Repo
            uses: actions/checkout@v4
            with:
                fetch-depth: 0

          - name: Wait for Build to Finish (Check for done.txt)
            timeout-minutes: 
            run: |
             echo "Waiting for build completion..."
             while [ ! -f ./done.txt ]; do
               echo "Building in progress... (Waiting for done.txt)"
               sleep 60  
             done
             echo "Build Finished! Found done.txt"

             
          - name: Uploade file exe
            uses: actions/upload-artifact@v4
            with:
              name: DVLD-Release
              path: ${{ github.workspace }}
