name: Build DVLD Project App Desktop
on:
    push:
        branches:
          - 'master'

jobs:
    Job_build:
        runs-on: windows-latest
        steps:
          - name: Checkout Repo
            uses: actions/checkout@v4
            with:
                fetch-depth: 0

          - name: Setup MSBuild
            uses: microsoft/setup-msbuild@v2

          - name: Restore NuGet Packages
            run: nuget restore DVLD.sln

          - name: Build Solution
            run: msbuild DVLD.sln /p:Configuration=Release /p:Platform="Any CPU"

          - name: Uploade file exe
            uses: actions/upload-artifact@v4
            with:
              name: DVLD-Release
              path: |
                **/bin/Release/*.exe
                **/bin/Release/*.dll
                **/bin/Release/*.config
          
      

